/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
#ajax_indicator {
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
  position: fixed;
  margin: 50px auto 0;
  display: block;
  width: 99%;
  z-index: 2000;
  top:200px;
}
#ajax_indicator span {
  background-image: url('/assets/loading.gif');
  background-position: 0 40%;
  background-repeat: no-repeat;
  padding-left: 26px;
  vertical-align: bottom;
}
